.DS_Store
**/.idea/
.vscode/

# 过滤 build 文件夹下的文件
/build/*

# 过滤个人配置
*.userdb/
installation.yaml
user.yaml
*.custom.yaml

others/script/scel2txt/out/*
others/script/scel2txt/scel/*

*private*

rime_console
rime_deployer
rime_patch